lib/nhinadapterdoc-1.0.0/META-INF/wsdl/EntityDocRetrieve_metadata15.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:edxlde="urn:oasis:names:tc:emergency:EDXL:DE:1.0" xmlns:hl7="urn:hl7-org:v3" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:iheaudit="http://nhinc.services.com/schema/auditmessage" xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" xmlns:tns="urn:gov:hhs:fha:nhinc:common:nhinccommonentity" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:nhinccommonentity">
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="EntityDocRetrieve_metadata14.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="EntityDocRetrieve_metadata7.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="EntityDocRetrieve_metadata5.xsd"/>
  <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="EntityDocRetrieve_metadata2.xsd"/>
  <xsd:import namespace="http://nhinc.services.com/schema/auditmessage" schemaLocation="EntityDocRetrieve_metadata3.xsd"/>
  <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="EntityDocRetrieve_metadata10.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscription" schemaLocation="EntityDocRetrieve_metadata12.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="EntityDocRetrieve_metadata4.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" schemaLocation="EntityDocRetrieve_metadata13.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" schemaLocation="EntityDocRetrieve_metadata18.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" schemaLocation="EntityDocRetrieve_metadata9.xsd"/><!-- ====================================================================
         Document Query Schemas.
         ==================================================================== -->
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryRequestType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryRequest"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryRequest" type="tns:RespondingGateway_CrossGatewayQueryRequestType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryResponse"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryResponse" type="tns:RespondingGateway_CrossGatewayQueryResponseType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseSecuredType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryResponse"/>
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQueryResponseSecured" type="tns:RespondingGateway_CrossGatewayQueryResponseSecuredType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayQuerySecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="query:AdhocQueryRequest"/>
      <xsd:element minOccurs="0" name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayQuerySecuredRequest" type="tns:RespondingGateway_CrossGatewayQuerySecuredRequestType"/><!-- ====================================================================
         Document Retrieve Schemas.
         ==================================================================== -->
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveRequestType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveRequest" type="tns:RespondingGateway_CrossGatewayRetrieveRequestType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredRequest" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredRequestType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveResponseType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveResponse" type="tns:RespondingGateway_CrossGatewayRetrieveResponseType"/>
  <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredResponseType">
    <xsd:sequence>
      <xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
      <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredResponse" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredResponseType"/><!-- ====================================================================
         Audit Log Schemas.
         ==================================================================== -->
  <xsd:complexType name="FindAuditEventsRequestType">
    <xsd:sequence>
      <xsd:element ref="iheaudit:FindAuditEvents"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FindAuditEventsRequest" type="tns:FindAuditEventsRequestType"/>
  <xsd:complexType name="FindAuditEventsSecuredRequestType">
    <xsd:sequence>
      <xsd:element ref="iheaudit:FindAuditEvents"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FindAuditEventsSecuredRequest" type="tns:FindAuditEventsSecuredRequestType"/><!-- ====================================================================
         Subscription Management Schemas.
         ==================================================================== --><!-- i think this could be removed -->
  <xsd:complexType name="SubscribeRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Subscribe"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeRequest" type="tns:SubscribeRequestType"/>
  <xsd:complexType name="SubscribeRequestSecuredType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Subscribe"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeRequestSecured" type="tns:SubscribeRequestSecuredType"/>
  <xsd:complexType name="SubscribeDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType"/>
  <xsd:complexType name="SubscribeDocumentRequestSecuredType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequestSecured" type="tns:SubscribeDocumentRequestSecuredType"/>
  <xsd:complexType name="SubscribeCdcBioPackageRequestType">
    <xsd:sequence>
      <xsd:element name="subscribe" type="subb2obcdc:SubscribeCdcBioPackageType"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeCdcBioPackageRequest" type="tns:SubscribeCdcBioPackageRequestType"/>
  <xsd:complexType name="SubscribeDocumentResponseType">
    <xsd:sequence>
      <xsd:element ref="wsnt:SubscribeResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentResponse" type="tns:SubscribeDocumentResponseType"/>
  <xsd:complexType name="SubscribeCdcBioPackageResponseType">
    <xsd:sequence>
      <xsd:element ref="wsnt:SubscribeResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeCdcBioPackageResponse" type="tns:SubscribeCdcBioPackageResponseType"/>
  <xsd:complexType name="UnsubscribeRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Unsubscribe"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UnsubscribeRequest" type="tns:UnsubscribeRequestType"/><!-- ====================================================================
         Notification Schemas.
         ==================================================================== -->
  <xsd:complexType name="NotifySubscribersOfDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obdoc:NotifyDocumentType"/>
      <xsd:element minOccurs="0" ref="rim:RegistryObjectList"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfDocumentRequest" type="tns:NotifySubscribersOfDocumentRequestType"/>
  <xsd:complexType name="NotifySubscribersOfDocumentRequestSecuredType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obdoc:NotifyDocumentType"/>
      <xsd:element minOccurs="0" ref="rim:RegistryObjectList"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfDocumentRequestSecured" type="tns:NotifySubscribersOfDocumentRequestSecuredType"/>
  <xsd:complexType name="NotifySubscribersOfCdcBioPackageRequestType">
    <xsd:sequence>
      <xsd:element name="notify" type="subb2obcdc:NotifyCdcBioPackageType"/>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscribersOfCdcBioPackageRequest" type="tns:NotifySubscribersOfCdcBioPackageRequestType"/>
  <xsd:complexType name="NotifyRequestType">
    <xsd:sequence>
      <xsd:element ref="wsnt:Notify"/>
      <xsd:element name="Assertion" type="nccommon:AssertionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyRequest" type="tns:NotifyRequestType"/>
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
      <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="url" type="nccommon:UrlInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetRequestType"/>
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
      <xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="url" type="nccommon:UrlInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType"/>
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
      <xsd:element name="RegistryResponse" type="rs:RegistryResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType"/>
  <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
      <xsd:element name="RegistryResponse" type="rs:RegistryResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType"/>
  <xsd:complexType name="RespondingGateway_SendAlertMessageType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
      <xsd:element ref="edxlde:EDXLDistribution"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_SendAlertMessage" type="tns:RespondingGateway_SendAlertMessageType"/>
  <xsd:complexType name="RespondingGateway_SendAlertMessageSecuredType">
    <xsd:sequence>
      <xsd:element ref="edxlde:EDXLDistribution"/>
      <xsd:element minOccurs="0" name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RespondingGateway_SendAlertMessageSecured" type="tns:RespondingGateway_SendAlertMessageSecuredType"/>
</xsd:schema>