lib/JMeadowsDataService-2.3.0.7/META-INF/wsdl/JMeadowsDataService_metadata1.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.bhie.domain.ext/" version="1.0">
  <xs:complexType name="noteImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="contentDisposition" type="xs:string"/>
      <xs:element minOccurs="0" name="contentType" type="xs:string"/>
      <xs:element minOccurs="0" name="noteBytes" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>