JAR/nhinadapterdoc-1.0.0/META-INF/wsdl/EntityDocQuery_metadata11.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:tns="http://www.hhs.gov/healthit/nhin/cdc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.hhs.gov/healthit/nhin/cdc">
  <xsd:complexType name="CdcBioPackageSubscriptionCriteriaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Frequency">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FrequencyUnits" type="xsd:integer"/>
            <xsd:element name="FrequencyDuration" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SizeThreshold" type="xsd:integer"/>
      <xsd:element name="MessageTypes" type="tns:MessageTypesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageTypesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MessageType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CdcBioPackageSubscriptionCriteria" type="tns:CdcBioPackageSubscriptionCriteriaType"/>
  <xsd:simpleType name="CdcBioPackagePayloadType">
    <xsd:restriction base="xsd:base64Binary"/>
  </xsd:simpleType>
  <xsd:element name="CdcBioPackagePayload" type="tns:CdcBioPackagePayloadType"/>
</xsd:schema>