JAR/nhinadapterdoc-1.0.0/META-INF/wsdl/EntityDocRetrieve_metadata18.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:addr="http://www.w3.org/2005/08/addressing" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:xdsb="urn:ihe:iti:xds-b:2007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments">
  <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="EntityDocRetrieve_metadata2.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="EntityDocRetrieve_metadata4.xsd"/>
  <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="EntityDocRetrieve_metadata16.xsd"/>
  <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="EntityDocRetrieve_metadata10.xsd"/><!--    
    <xsd:complexType name="UnsubscribeType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="assert:assertion"></xsd:element>
            <xsd:any/>
        </xsd:sequence>
    </xsd:complexType>
-->
  <xsd:complexType name="SubscribeDocumentType">
    <xsd:sequence>
      <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType"/>
      <xsd:element name="AdhocQuery" type="rim:AdhocQueryType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificationMessageHolderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="wsnt:SubscriptionReference"/>
      <xsd:element minOccurs="0" ref="wsnt:Topic"/>
      <xsd:element name="Message">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xdsb:RetrieveDocumentSetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotifyDocumentType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NotificationMessage" type="tns:NotificationMessageHolderType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>