JAR/nhinadapterdoc-1.0.0/META-INF/wsdl/EntityDocRetrieve_metadata12.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:addr="http://www.w3.org/2005/08/addressing" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon" xmlns:nhin-cdc="http://www.hhs.gov/healthit/nhin/cdc" xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" xmlns:tns="urn:gov:hhs:fha:nhinc:common:subscription" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:gov:hhs:fha:nhinc:common:subscription">
  <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="EntityDocRetrieve_metadata10.xsd"/>
  <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="EntityDocRetrieve_metadata4.xsd"/>
  <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="EntityDocRetrieve_metadata2.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="EntityDocRetrieve_metadata14.xsd"/>
  <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="EntityDocRetrieve_metadata16.xsd"/>
  <xsd:import namespace="http://www.hhs.gov/healthit/nhin/cdc" schemaLocation="EntityDocRetrieve_metadata1.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" schemaLocation="EntityDocRetrieve_metadata13.xsd"/>
  <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" schemaLocation="EntityDocRetrieve_metadata18.xsd"/>
  <xsd:complexType name="CommunityType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string"/>
      <xsd:element name="Name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Community" type="tns:CommunityType"/>
  <xsd:complexType name="SubscriberType">
    <xsd:sequence>
      <xsd:element name="Community" type="tns:CommunityType"/>
      <xsd:element name="NotificationConsumerEndpointAddress" type="xsd:string"/>
      <xsd:element name="UserAddress" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Subscriber" type="tns:SubscriberType"/>
  <xsd:complexType name="SubscribeeType">
    <xsd:sequence>
      <xsd:element name="Community" type="tns:CommunityType"/>
      <xsd:element name="NotificationProducerEndpointAddress" type="xsd:string"/>
      <xsd:element name="UserAddress" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Subscribee" type="tns:SubscribeeType"/>
  <xsd:complexType name="SubscriptionCriteriaType">
    <xsd:sequence>
      <xsd:element name="SubscribeePatient" type="nccommon:QualifiedSubjectIdentifierType"/>
      <xsd:element name="SubscriberPatient" type="nccommon:QualifiedSubjectIdentifierType"/>
      <xsd:element minOccurs="0" name="Criteria" type="tns:CriteriaType"/>
      <xsd:element minOccurs="0" name="TopicExpression" type="tns:TopicExpressionType"/>
      <xsd:element minOccurs="0" name="SubscriptionPolicy" type="tns:SubscriptionPolicyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType"/>
  <xsd:complexType name="SubscriptionReferenceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SubscriptionManagerEndpointAddress" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReferenceParameters" type="tns:ReferenceParametersType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
  <xsd:complexType name="SubscriptionItemType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Subscriber" type="tns:SubscriberType"/>
      <xsd:element minOccurs="0" name="Subscribee" type="tns:SubscribeeType"/>
      <xsd:element minOccurs="0" name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType"/>
      <xsd:element minOccurs="0" name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
      <xsd:element minOccurs="0" name="ParentSubscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionItem" type="tns:SubscriptionItemType"/>
  <xsd:complexType name="SubscriptionItemsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="subscriptionItem" type="tns:SubscriptionItemType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionItems" type="tns:SubscriptionItemsType"/>
  <xsd:complexType name="CriterionType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Criterion" type="tns:CriterionType"/>
  <xsd:complexType name="CriteriaType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Criterion" type="tns:CriterionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Criteria" type="tns:CriteriaType"/>
  <xsd:complexType name="ReferenceParameterType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
      <xsd:element name="Namespace" type="xsd:string"/>
      <xsd:element name="ElementName" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType"/>
  <xsd:complexType name="ReferenceParametersType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReferenceParameter" type="tns:ReferenceParameterType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType"/>
  <xsd:complexType name="SubscriptionReferencesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionReferences" type="tns:SubscriptionReferencesType"/>
  <xsd:complexType name="SubscribeDocumentRequestType">
    <xsd:sequence>
      <xsd:element name="Assertion" type="nccommon:AssertionType"/>
      <xsd:element name="Subscribe" type="tns:SubscribeDocumentType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType"/><!-- begin CdcBioPackage messages --><!--
    <xsd:complexType name="SubscribeCdcBioPackageRequestType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element name="Subscribe" type="tns:SubscribeBioPackageType"/>
            <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeCdcBioPackageRequest" type="tns:SubscribeCdcBioPackageRequestType">
    </xsd:element>
    <xsd:complexType name="NotifyOfCdcBioPackageType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType">
            </xsd:element>
            <xsd:element name="Notify" type="subb2obcdc:NotifyCdcBioPackageType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifySubscribersOfCdcBioPackage" type="tns:NotifyOfCdcBioPackageType"/>
    <xsd:element name="NotifyOfCdcBioPackage" type="tns:NotifyOfCdcBioPackageType"/>
--><!-- end CdcBioPackage messages -->
  <xsd:complexType name="UnsubscribeType">
    <xsd:sequence>
      <xsd:element name="subscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Unsubscribe" type="tns:UnsubscribeType"/><!--
    <xsd:complexType name="NotifyOfDocumentType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element ref="rim:RegistryObjectList" minOccurs="0"/>
            <xsd:element name="Notify" type="tns:NotifyDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyOfDocument" type="tns:NotifyOfDocumentType">
    </xsd:element>
    <xsd:element name="NotifySubscribersOfDocument" type="tns:NotifyOfDocumentType">
    </xsd:element>
-->
  <xsd:complexType name="EmptyType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Empty" type="tns:EmptyType"/>
  <xsd:complexType name="AckInputType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AckInput" type="tns:AckInputType"/>
  <xsd:complexType name="DeleteSubscriptionMessageRequestType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeleteSubscriptionMessageRequest" type="tns:DeleteSubscriptionMessageRequestType"/>
  <xsd:complexType name="RetrieveBySubscriptionReferenceRequestMessageType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveBySubscriptionReferenceRequestMessage" type="tns:RetrieveBySubscriptionReferenceRequestMessageType"/>
  <xsd:complexType name="RetrieveByParentSubscriptionReferenceMessageType">
    <xsd:sequence>
      <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetrieveByParentSubscriptionReferenceMessage" type="tns:RetrieveByParentSubscriptionReferenceMessageType"/>
  <xsd:complexType name="UpdateCppRequestType">
    <xsd:sequence>
      <xsd:element name="assertion" type="nccommon:AssertionType"/>
      <xsd:element name="RetrieveDocumentSetRequest" type="ihe:RetrieveDocumentSetRequestType"/>
      <xsd:element name="ExtrinsicObject" type="rim:ExtrinsicObjectType"/>
      <xsd:element name="optInOutFlag" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateCppRequest" type="tns:UpdateCppRequestType"/>
  <xsd:complexType name="UpdateCppResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateCppResponse" type="tns:UpdateCppResponseType"/>
  <xsd:complexType name="InternalNhieUnsubscribeType">
    <xsd:sequence>
      <xsd:element ref="tns:SubscriptionReference"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InternalNhieUnsubscribe" type="tns:InternalNhieUnsubscribeType"/>
  <xsd:complexType name="InternalNhieUnsubscribeResponseType">
    <xsd:sequence>
      <xsd:element name="notUsed" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InternalNhieUnsubscribeResponse" type="tns:InternalNhieUnsubscribeResponseType"/>
  <xsd:complexType name="NotifyWrapperType">
    <xsd:sequence>
      <xsd:element name="Assertion" type="nccommon:AssertionType"/>
      <xsd:element ref="wsnt:Notify"/>
      <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyWrapper" type="tns:NotifyWrapperType"/>
  <xsd:complexType name="TopicExpressionType">
    <xsd:simpleContent>
      <xsd:extension base="tns:TopicExpressionValue">
        <xsd:attribute name="Dialect" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="text"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="TopicExpression" type="tns:TopicExpressionType"/>
  <xsd:simpleType name="TopicExpressionValue">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="SubscriptionPolicyType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GenericPolicyItems" type="tns:KeyValuePairListType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType"/>
  <xsd:complexType name="KeyValuePairType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeyValuePair" type="tns:KeyValuePairType"/>
  <xsd:complexType name="KeyValuePairListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="KeyValuePair" type="tns:KeyValuePairType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="KeyValuePairList" type="tns:KeyValuePairListType"/>
  <xsd:complexType name="SubscribeDocumentType">
    <xsd:sequence>
      <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType"/>
      <xsd:element name="AdhocQuery" type="rim:AdhocQueryType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubscribeDocument" type="tns:SubscribeDocumentType"/><!--    
    <xsd:complexType name="NotificationMessageHolderType">
        <xsd:sequence>
            <xsd:element ref="wsnt:SubscriptionReference" minOccurs="0"/>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotificationMessageHolder" type="tns:NotificationMessageHolderType">
    </xsd:element>
    <xsd:complexType name="NotifyDocumentType">
        <xsd:sequence>
            <xsd:element name="NotificationMessage" type="tns:NotificationMessageHolderType" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyDocument" type="tns:NotifyDocumentType">
    </xsd:element>
    <xsd:complexType name="SubscribeBioPackageType">
        <xsd:sequence>
            <xsd:element ref="wsnt:ConsumerReference" minOccurs="0"/>
            <xsd:element ref="wsnt:Filter" minOccurs="0"/>
            <xsd:element name="SubscriptionPolicy" type="subb2obcdc:SubscriptionPolicyType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeBioPackage" type="tns:SubscribeBioPackageType">
    </xsd:element>
-->
  <xsd:complexType name="MessageTypesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MessageType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MessageTypes" type="tns:MessageTypesType"/>
</xsd:schema>