JAR/JMeadowsDataService-2.3.0.7/META-INF/wsdl/JMeadowsDataService.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.jmeadows.domain.ext/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JMeadowsDataService" targetNamespace="http://webservice.jmeadows.domain.ext/">
  <wsp:Policy wsu:Id="JMeadowsDataPortBinding_MTOM_Policy-JMeadowsDataPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.vds.domain.ext/" schemaLocation="JMeadowsDataService_metadata2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://webservice.jmeadows.domain.ext/" schemaLocation="JMeadowsDataService_metadata3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://webservice.bhie.domain.ext/" schemaLocation="JMeadowsDataService_metadata1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getVersion">
    <part element="tns:getVersion" name="parameters"/>
  </message>
  <message name="getVersionResponse">
    <part element="tns:getVersionResponse" name="parameters"/>
  </message>
  <message name="login">
    <part element="tns:login" name="parameters"/>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"/>
  </message>
  <message name="JMeadowsException">
    <part element="tns:JMeadowsException" name="fault"/>
  </message>
  <message name="lookupPatient">
    <part element="tns:lookupPatient" name="parameters"/>
  </message>
  <message name="lookupPatientResponse">
    <part element="tns:lookupPatientResponse" name="parameters"/>
  </message>
  <message name="lookupPatientPDWS">
    <part element="tns:lookupPatientPDWS" name="parameters"/>
  </message>
  <message name="lookupPatientPDWSResponse">
    <part element="tns:lookupPatientPDWSResponse" name="parameters"/>
  </message>
  <message name="selectPatient">
    <part element="tns:selectPatient" name="parameters"/>
  </message>
  <message name="selectPatientResponse">
    <part element="tns:selectPatientResponse" name="parameters"/>
  </message>
  <message name="selectPatientMVI">
    <part element="tns:selectPatientMVI" name="parameters"/>
  </message>
  <message name="selectPatientMVIResponse">
    <part element="tns:selectPatientMVIResponse" name="parameters"/>
  </message>
  <message name="getPatientAdmissions">
    <part element="tns:getPatientAdmissions" name="parameters"/>
  </message>
  <message name="getPatientAdmissionsResponse">
    <part element="tns:getPatientAdmissionsResponse" name="parameters"/>
  </message>
  <message name="selectPatientForVASensitive">
    <part element="tns:selectPatientForVASensitive" name="parameters"/>
  </message>
  <message name="selectPatientForVASensitiveResponse">
    <part element="tns:selectPatientForVASensitiveResponse" name="parameters"/>
  </message>
  <message name="auditVARestrictedAccess">
    <part element="tns:auditVARestrictedAccess" name="parameters"/>
  </message>
  <message name="auditVARestrictedAccessResponse">
    <part element="tns:auditVARestrictedAccessResponse" name="parameters"/>
  </message>
  <message name="getPatientHistory">
    <part element="tns:getPatientHistory" name="parameters"/>
  </message>
  <message name="getPatientHistoryResponse">
    <part element="tns:getPatientHistoryResponse" name="parameters"/>
  </message>
  <message name="getPatientAllergies">
    <part element="tns:getPatientAllergies" name="parameters"/>
  </message>
  <message name="getPatientAllergiesResponse">
    <part element="tns:getPatientAllergiesResponse" name="parameters"/>
  </message>
  <message name="getAllergyDetail">
    <part element="tns:getAllergyDetail" name="parameters"/>
  </message>
  <message name="getAllergyDetailResponse">
    <part element="tns:getAllergyDetailResponse" name="parameters"/>
  </message>
  <message name="getPatientEncountersReport">
    <part element="tns:getPatientEncountersReport" name="parameters"/>
  </message>
  <message name="getPatientEncountersReportResponse">
    <part element="tns:getPatientEncountersReportResponse" name="parameters"/>
  </message>
  <message name="getPatientAppointments">
    <part element="tns:getPatientAppointments" name="parameters"/>
  </message>
  <message name="getPatientAppointmentsResponse">
    <part element="tns:getPatientAppointmentsResponse" name="parameters"/>
  </message>
  <message name="getPatientEncounters">
    <part element="tns:getPatientEncounters" name="parameters"/>
  </message>
  <message name="getPatientEncountersResponse">
    <part element="tns:getPatientEncountersResponse" name="parameters"/>
  </message>
  <message name="getPatientClinicalReminders">
    <part element="tns:getPatientClinicalReminders" name="parameters"/>
  </message>
  <message name="getPatientClinicalRemindersResponse">
    <part element="tns:getPatientClinicalRemindersResponse" name="parameters"/>
  </message>
  <message name="getClinicalReminderDetail">
    <part element="tns:getClinicalReminderDetail" name="parameters"/>
  </message>
  <message name="getClinicalReminderDetailResponse">
    <part element="tns:getClinicalReminderDetailResponse" name="parameters"/>
  </message>
  <message name="getPatientDemographics">
    <part element="tns:getPatientDemographics" name="parameters"/>
  </message>
  <message name="getPatientDemographicsResponse">
    <part element="tns:getPatientDemographicsResponse" name="parameters"/>
  </message>
  <message name="loginEnterprise">
    <part element="tns:loginEnterprise" name="parameters"/>
  </message>
  <message name="loginEnterpriseResponse">
    <part element="tns:loginEnterpriseResponse" name="parameters"/>
  </message>
  <message name="getPatientDemographicsDetail">
    <part element="tns:getPatientDemographicsDetail" name="parameters"/>
  </message>
  <message name="getPatientDemographicsDetailResponse">
    <part element="tns:getPatientDemographicsDetailResponse" name="parameters"/>
  </message>
  <message name="getPatientImmunizations">
    <part element="tns:getPatientImmunizations" name="parameters"/>
  </message>
  <message name="getPatientImmunizationsResponse">
    <part element="tns:getPatientImmunizationsResponse" name="parameters"/>
  </message>
  <message name="getPatientLabs">
    <part element="tns:getPatientLabs" name="parameters"/>
  </message>
  <message name="getPatientLabsResponse">
    <part element="tns:getPatientLabsResponse" name="parameters"/>
  </message>
  <message name="getPatientLabResults">
    <part element="tns:getPatientLabResults" name="parameters"/>
  </message>
  <message name="getPatientLabResultsResponse">
    <part element="tns:getPatientLabResultsResponse" name="parameters"/>
  </message>
  <message name="getPatientLabReport">
    <part element="tns:getPatientLabReport" name="parameters"/>
  </message>
  <message name="getPatientLabReportResponse">
    <part element="tns:getPatientLabReportResponse" name="parameters"/>
  </message>
  <message name="getPatientMedications">
    <part element="tns:getPatientMedications" name="parameters"/>
  </message>
  <message name="getPatientMedicationsResponse">
    <part element="tns:getPatientMedicationsResponse" name="parameters"/>
  </message>
  <message name="getPatientProgressNotes">
    <part element="tns:getPatientProgressNotes" name="parameters"/>
  </message>
  <message name="getPatientProgressNotesResponse">
    <part element="tns:getPatientProgressNotesResponse" name="parameters"/>
  </message>
  <message name="getBHIENoteImage">
    <part element="tns:getBHIENoteImage" name="parameters"/>
  </message>
  <message name="getBHIENoteImageResponse">
    <part element="tns:getBHIENoteImageResponse" name="parameters"/>
  </message>
  <message name="getPatientDischargeSummaries">
    <part element="tns:getPatientDischargeSummaries" name="parameters"/>
  </message>
  <message name="getPatientDischargeSummariesResponse">
    <part element="tns:getPatientDischargeSummariesResponse" name="parameters"/>
  </message>
  <message name="getPatientConsultRequests">
    <part element="tns:getPatientConsultRequests" name="parameters"/>
  </message>
  <message name="getPatientConsultRequestsResponse">
    <part element="tns:getPatientConsultRequestsResponse" name="parameters"/>
  </message>
  <message name="getPatientOrders">
    <part element="tns:getPatientOrders" name="parameters"/>
  </message>
  <message name="getPatientOrdersResponse">
    <part element="tns:getPatientOrdersResponse" name="parameters"/>
  </message>
  <message name="getPatientProblemList">
    <part element="tns:getPatientProblemList" name="parameters"/>
  </message>
  <message name="getPatientProblemListResponse">
    <part element="tns:getPatientProblemListResponse" name="parameters"/>
  </message>
  <message name="getPatientRads">
    <part element="tns:getPatientRads" name="parameters"/>
  </message>
  <message name="getPatientRadsResponse">
    <part element="tns:getPatientRadsResponse" name="parameters"/>
  </message>
  <message name="getPatientVitals">
    <part element="tns:getPatientVitals" name="parameters"/>
  </message>
  <message name="getPatientVitalsResponse">
    <part element="tns:getPatientVitalsResponse" name="parameters"/>
  </message>
  <message name="getPatientLabTestResults">
    <part element="tns:getPatientLabTestResults" name="parameters"/>
  </message>
  <message name="getPatientLabTestResultsResponse">
    <part element="tns:getPatientLabTestResultsResponse" name="parameters"/>
  </message>
  <message name="getLabOrderResult">
    <part element="tns:getLabOrderResult" name="parameters"/>
  </message>
  <message name="getLabOrderResultResponse">
    <part element="tns:getLabOrderResultResponse" name="parameters"/>
  </message>
  <message name="getAdmissionDetails">
    <part element="tns:getAdmissionDetails" name="parameters"/>
  </message>
  <message name="getAdmissionDetailsResponse">
    <part element="tns:getAdmissionDetailsResponse" name="parameters"/>
  </message>
  <message name="getAdmissionDiagnosis">
    <part element="tns:getAdmissionDiagnosis" name="parameters"/>
  </message>
  <message name="getAdmissionDiagnosisResponse">
    <part element="tns:getAdmissionDiagnosisResponse" name="parameters"/>
  </message>
  <message name="getAdmissionProcedures">
    <part element="tns:getAdmissionProcedures" name="parameters"/>
  </message>
  <message name="getAdmissionProceduresResponse">
    <part element="tns:getAdmissionProceduresResponse" name="parameters"/>
  </message>
  <message name="getConsultReport">
    <part element="tns:getConsultReport" name="parameters"/>
  </message>
  <message name="getConsultReportResponse">
    <part element="tns:getConsultReportResponse" name="parameters"/>
  </message>
  <message name="getProviderProfile">
    <part element="tns:getProviderProfile" name="parameters"/>
  </message>
  <message name="getProviderProfileResponse">
    <part element="tns:getProviderProfileResponse" name="parameters"/>
  </message>
  <message name="getMedicationDetail">
    <part element="tns:getMedicationDetail" name="parameters"/>
  </message>
  <message name="getMedicationDetailResponse">
    <part element="tns:getMedicationDetailResponse" name="parameters"/>
  </message>
  <message name="getOrderDetail">
    <part element="tns:getOrderDetail" name="parameters"/>
  </message>
  <message name="getOrderDetailResponse">
    <part element="tns:getOrderDetailResponse" name="parameters"/>
  </message>
  <message name="getPatientCurrentVitals">
    <part element="tns:getPatientCurrentVitals" name="parameters"/>
  </message>
  <message name="getPatientCurrentVitalsResponse">
    <part element="tns:getPatientCurrentVitalsResponse" name="parameters"/>
  </message>
  <message name="getProblemDetail">
    <part element="tns:getProblemDetail" name="parameters"/>
  </message>
  <message name="getProblemDetailResponse">
    <part element="tns:getProblemDetailResponse" name="parameters"/>
  </message>
  <message name="getProgressNote">
    <part element="tns:getProgressNote" name="parameters"/>
  </message>
  <message name="getProgressNoteResponse">
    <part element="tns:getProgressNoteResponse" name="parameters"/>
  </message>
  <message name="getRadiologyReport">
    <part element="tns:getRadiologyReport" name="parameters"/>
  </message>
  <message name="getRadiologyReportResponse">
    <part element="tns:getRadiologyReportResponse" name="parameters"/>
  </message>
  <message name="getVLERDocumentList">
    <part element="tns:getVLERDocumentList" name="parameters"/>
  </message>
  <message name="getVLERDocumentListResponse">
    <part element="tns:getVLERDocumentListResponse" name="parameters"/>
  </message>
  <message name="getVLERDocument">
    <part element="tns:getVLERDocument" name="parameters"/>
  </message>
  <message name="getVLERDocumentResponse">
    <part element="tns:getVLERDocumentResponse" name="parameters"/>
  </message>
  <message name="getUserAlerts">
    <part element="tns:getUserAlerts" name="parameters"/>
  </message>
  <message name="getUserAlertsResponse">
    <part element="tns:getUserAlertsResponse" name="parameters"/>
  </message>
  <message name="getVisitNotes">
    <part element="tns:getVisitNotes" name="parameters"/>
  </message>
  <message name="getVisitNotesResponse">
    <part element="tns:getVisitNotesResponse" name="parameters"/>
  </message>
  <message name="logAudit">
    <part element="tns:logAudit" name="parameters"/>
  </message>
  <message name="logAuditResponse">
    <part element="tns:logAuditResponse" name="parameters"/>
  </message>
  <message name="getProviderAppointments">
    <part element="tns:getProviderAppointments" name="parameters"/>
  </message>
  <message name="getProviderAppointmentsResponse">
    <part element="tns:getProviderAppointmentsResponse" name="parameters"/>
  </message>
  <message name="getProviderAdmissions">
    <part element="tns:getProviderAdmissions" name="parameters"/>
  </message>
  <message name="getProviderAdmissionsResponse">
    <part element="tns:getProviderAdmissionsResponse" name="parameters"/>
  </message>
  <message name="getWardAdmissions">
    <part element="tns:getWardAdmissions" name="parameters"/>
  </message>
  <message name="getWardAdmissionsResponse">
    <part element="tns:getWardAdmissionsResponse" name="parameters"/>
  </message>
  <message name="getProviderUnsignedNotes">
    <part element="tns:getProviderUnsignedNotes" name="parameters"/>
  </message>
  <message name="getProviderUnsignedNotesResponse">
    <part element="tns:getProviderUnsignedNotesResponse" name="parameters"/>
  </message>
  <message name="getProviderConsultsRequested">
    <part element="tns:getProviderConsultsRequested" name="parameters"/>
  </message>
  <message name="getProviderConsultsRequestedResponse">
    <part element="tns:getProviderConsultsRequestedResponse" name="parameters"/>
  </message>
  <message name="getProviderConsultsReceived">
    <part element="tns:getProviderConsultsReceived" name="parameters"/>
  </message>
  <message name="getProviderConsultsReceivedResponse">
    <part element="tns:getProviderConsultsReceivedResponse" name="parameters"/>
  </message>
  <message name="getProviderOrdersPending">
    <part element="tns:getProviderOrdersPending" name="parameters"/>
  </message>
  <message name="getProviderOrdersPendingResponse">
    <part element="tns:getProviderOrdersPendingResponse" name="parameters"/>
  </message>
  <message name="getProviderOrdersResulted">
    <part element="tns:getProviderOrdersResulted" name="parameters"/>
  </message>
  <message name="getProviderOrdersResultedResponse">
    <part element="tns:getProviderOrdersResultedResponse" name="parameters"/>
  </message>
  <message name="getProviderLabAbnormalResults">
    <part element="tns:getProviderLabAbnormalResults" name="parameters"/>
  </message>
  <message name="getProviderLabAbnormalResultsResponse">
    <part element="tns:getProviderLabAbnormalResultsResponse" name="parameters"/>
  </message>
  <message name="getJanusGUIConfig">
    <part element="tns:getJanusGUIConfig" name="parameters"/>
  </message>
  <message name="getJanusGUIConfigResponse">
    <part element="tns:getJanusGUIConfigResponse" name="parameters"/>
  </message>
  <message name="setJanusGUIConfig">
    <part element="tns:setJanusGUIConfig" name="parameters"/>
  </message>
  <message name="setJanusGUIConfigResponse">
    <part element="tns:setJanusGUIConfigResponse" name="parameters"/>
  </message>
  <message name="getIehrUserProfile">
    <part element="tns:getIehrUserProfile" name="parameters"/>
  </message>
  <message name="getIehrUserProfileResponse">
    <part element="tns:getIehrUserProfileResponse" name="parameters"/>
  </message>
  <message name="setIehrUserProfile">
    <part element="tns:setIehrUserProfile" name="parameters"/>
  </message>
  <message name="setIehrUserProfileResponse">
    <part element="tns:setIehrUserProfileResponse" name="parameters"/>
  </message>
  <message name="getSites">
    <part element="tns:getSites" name="parameters"/>
  </message>
  <message name="getSitesResponse">
    <part element="tns:getSitesResponse" name="parameters"/>
  </message>
  <message name="getLoginInfo">
    <part element="tns:getLoginInfo" name="parameters"/>
  </message>
  <message name="getLoginInfoResponse">
    <part element="tns:getLoginInfoResponse" name="parameters"/>
  </message>
  <message name="getServiceErrors">
    <part element="tns:getServiceErrors" name="parameters"/>
  </message>
  <message name="getServiceErrorsResponse">
    <part element="tns:getServiceErrorsResponse" name="parameters"/>
  </message>
  <message name="getAuthUser">
    <part element="tns:getAuthUser" name="parameters"/>
  </message>
  <message name="getAuthUserResponse">
    <part element="tns:getAuthUserResponse" name="parameters"/>
  </message>
  <message name="getPatientInsurances">
    <part element="tns:getPatientInsurances" name="parameters"/>
  </message>
  <message name="getPatientInsurancesResponse">
    <part element="tns:getPatientInsurancesResponse" name="parameters"/>
  </message>
  <message name="getOutpatientProcedures">
    <part element="tns:getOutpatientProcedures" name="parameters"/>
  </message>
  <message name="getOutpatientProceduresResponse">
    <part element="tns:getOutpatientProceduresResponse" name="parameters"/>
  </message>
  <message name="updateUserSubjectDN">
    <part element="tns:updateUserSubjectDN" name="parameters"/>
  </message>
  <message name="updateUserSubjectDNResponse">
    <part element="tns:updateUserSubjectDNResponse" name="parameters"/>
  </message>
  <message name="getPatientForms">
    <part element="tns:getPatientForms" name="parameters"/>
  </message>
  <message name="getPatientFormsResponse">
    <part element="tns:getPatientFormsResponse" name="parameters"/>
  </message>
  <message name="getProviderFlags">
    <part element="tns:getProviderFlags" name="parameters"/>
  </message>
  <message name="getProviderFlagsResponse">
    <part element="tns:getProviderFlagsResponse" name="parameters"/>
  </message>
  <message name="setProviderFlags">
    <part element="tns:setProviderFlags" name="parameters"/>
  </message>
  <message name="setProviderFlagsResponse">
    <part element="tns:setProviderFlagsResponse" name="parameters"/>
  </message>
  <portType name="JMeadowsData">
    <operation name="getVersion">
      <input message="tns:getVersion" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVersionRequest"/>
      <output message="tns:getVersionResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVersionResponse"/>
    </operation>
    <operation name="login">
      <input message="tns:login" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/loginRequest"/>
      <output message="tns:loginResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/loginResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/login/Fault/JMeadowsException"/>
    </operation>
    <operation name="lookupPatient">
      <input message="tns:lookupPatient" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatientRequest"/>
      <output message="tns:lookupPatientResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatientResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatient/Fault/JMeadowsException"/>
    </operation>
    <operation name="lookupPatientPDWS">
      <input message="tns:lookupPatientPDWS" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatientPDWSRequest"/>
      <output message="tns:lookupPatientPDWSResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatientPDWSResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/lookupPatientPDWS/Fault/JMeadowsException"/>
    </operation>
    <operation name="selectPatient">
      <input message="tns:selectPatient" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientRequest"/>
      <output message="tns:selectPatientResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatient/Fault/JMeadowsException"/>
    </operation>
    <operation name="selectPatientMVI">
      <input message="tns:selectPatientMVI" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientMVIRequest"/>
      <output message="tns:selectPatientMVIResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientMVIResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientMVI/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientAdmissions">
      <input message="tns:getPatientAdmissions" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAdmissionsRequest"/>
      <output message="tns:getPatientAdmissionsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAdmissionsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAdmissions/Fault/JMeadowsException"/>
    </operation>
    <operation name="selectPatientForVASensitive">
      <input message="tns:selectPatientForVASensitive" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientForVASensitiveRequest"/>
      <output message="tns:selectPatientForVASensitiveResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientForVASensitiveResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/selectPatientForVASensitive/Fault/JMeadowsException"/>
    </operation>
    <operation name="auditVARestrictedAccess">
      <input message="tns:auditVARestrictedAccess" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/auditVARestrictedAccessRequest"/>
      <output message="tns:auditVARestrictedAccessResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/auditVARestrictedAccessResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/auditVARestrictedAccess/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientHistory">
      <input message="tns:getPatientHistory" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientHistoryRequest"/>
      <output message="tns:getPatientHistoryResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientHistoryResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientHistory/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientAllergies">
      <input message="tns:getPatientAllergies" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAllergiesRequest"/>
      <output message="tns:getPatientAllergiesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAllergiesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAllergies/Fault/JMeadowsException"/>
    </operation>
    <operation name="getAllergyDetail">
      <input message="tns:getAllergyDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAllergyDetailRequest"/>
      <output message="tns:getAllergyDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAllergyDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAllergyDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientEncountersReport">
      <input message="tns:getPatientEncountersReport" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncountersReportRequest"/>
      <output message="tns:getPatientEncountersReportResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncountersReportResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncountersReport/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientAppointments">
      <input message="tns:getPatientAppointments" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAppointmentsRequest"/>
      <output message="tns:getPatientAppointmentsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAppointmentsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientAppointments/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientEncounters">
      <input message="tns:getPatientEncounters" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncountersRequest"/>
      <output message="tns:getPatientEncountersResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncountersResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientEncounters/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientClinicalReminders">
      <input message="tns:getPatientClinicalReminders" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientClinicalRemindersRequest"/>
      <output message="tns:getPatientClinicalRemindersResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientClinicalRemindersResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientClinicalReminders/Fault/JMeadowsException"/>
    </operation>
    <operation name="getClinicalReminderDetail">
      <input message="tns:getClinicalReminderDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getClinicalReminderDetailRequest"/>
      <output message="tns:getClinicalReminderDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getClinicalReminderDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getClinicalReminderDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientDemographics">
      <input message="tns:getPatientDemographics" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographicsRequest"/>
      <output message="tns:getPatientDemographicsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographicsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographics/Fault/JMeadowsException"/>
    </operation>
    <operation name="loginEnterprise">
      <input message="tns:loginEnterprise" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/loginEnterpriseRequest"/>
      <output message="tns:loginEnterpriseResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/loginEnterpriseResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/loginEnterprise/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientDemographicsDetail">
      <input message="tns:getPatientDemographicsDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographicsDetailRequest"/>
      <output message="tns:getPatientDemographicsDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographicsDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDemographicsDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientImmunizations">
      <input message="tns:getPatientImmunizations" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientImmunizationsRequest"/>
      <output message="tns:getPatientImmunizationsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientImmunizationsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientImmunizations/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientLabs">
      <input message="tns:getPatientLabs" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabsRequest"/>
      <output message="tns:getPatientLabsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabs/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientLabResults">
      <input message="tns:getPatientLabResults" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabResultsRequest"/>
      <output message="tns:getPatientLabResultsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabResultsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabResults/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientLabReport">
      <input message="tns:getPatientLabReport" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabReportRequest"/>
      <output message="tns:getPatientLabReportResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabReportResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabReport/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientMedications">
      <input message="tns:getPatientMedications" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientMedicationsRequest"/>
      <output message="tns:getPatientMedicationsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientMedicationsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientMedications/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientProgressNotes">
      <input message="tns:getPatientProgressNotes" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProgressNotesRequest"/>
      <output message="tns:getPatientProgressNotesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProgressNotesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProgressNotes/Fault/JMeadowsException"/>
    </operation>
    <operation name="getBHIENoteImage">
      <input message="tns:getBHIENoteImage" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getBHIENoteImageRequest"/>
      <output message="tns:getBHIENoteImageResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getBHIENoteImageResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getBHIENoteImage/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientDischargeSummaries">
      <input message="tns:getPatientDischargeSummaries" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDischargeSummariesRequest"/>
      <output message="tns:getPatientDischargeSummariesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDischargeSummariesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientDischargeSummaries/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientConsultRequests">
      <input message="tns:getPatientConsultRequests" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientConsultRequestsRequest"/>
      <output message="tns:getPatientConsultRequestsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientConsultRequestsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientConsultRequests/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientOrders">
      <input message="tns:getPatientOrders" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientOrdersRequest"/>
      <output message="tns:getPatientOrdersResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientOrdersResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientOrders/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientProblemList">
      <input message="tns:getPatientProblemList" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProblemListRequest"/>
      <output message="tns:getPatientProblemListResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProblemListResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientProblemList/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientRads">
      <input message="tns:getPatientRads" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientRadsRequest"/>
      <output message="tns:getPatientRadsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientRadsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientRads/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientVitals">
      <input message="tns:getPatientVitals" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientVitalsRequest"/>
      <output message="tns:getPatientVitalsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientVitalsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientVitals/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientLabTestResults">
      <input message="tns:getPatientLabTestResults" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabTestResultsRequest"/>
      <output message="tns:getPatientLabTestResultsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabTestResultsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientLabTestResults/Fault/JMeadowsException"/>
    </operation>
    <operation name="getLabOrderResult">
      <input message="tns:getLabOrderResult" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLabOrderResultRequest"/>
      <output message="tns:getLabOrderResultResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLabOrderResultResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLabOrderResult/Fault/JMeadowsException"/>
    </operation>
    <operation name="getAdmissionDetails">
      <input message="tns:getAdmissionDetails" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDetailsRequest"/>
      <output message="tns:getAdmissionDetailsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDetailsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDetails/Fault/JMeadowsException"/>
    </operation>
    <operation name="getAdmissionDiagnosis">
      <input message="tns:getAdmissionDiagnosis" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDiagnosisRequest"/>
      <output message="tns:getAdmissionDiagnosisResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDiagnosisResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionDiagnosis/Fault/JMeadowsException"/>
    </operation>
    <operation name="getAdmissionProcedures">
      <input message="tns:getAdmissionProcedures" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionProceduresRequest"/>
      <output message="tns:getAdmissionProceduresResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionProceduresResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAdmissionProcedures/Fault/JMeadowsException"/>
    </operation>
    <operation name="getConsultReport">
      <input message="tns:getConsultReport" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getConsultReportRequest"/>
      <output message="tns:getConsultReportResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getConsultReportResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getConsultReport/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderProfile">
      <input message="tns:getProviderProfile" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderProfileRequest"/>
      <output message="tns:getProviderProfileResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderProfileResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderProfile/Fault/JMeadowsException"/>
    </operation>
    <operation name="getMedicationDetail">
      <input message="tns:getMedicationDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getMedicationDetailRequest"/>
      <output message="tns:getMedicationDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getMedicationDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getMedicationDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getOrderDetail">
      <input message="tns:getOrderDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOrderDetailRequest"/>
      <output message="tns:getOrderDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOrderDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOrderDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientCurrentVitals">
      <input message="tns:getPatientCurrentVitals" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientCurrentVitalsRequest"/>
      <output message="tns:getPatientCurrentVitalsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientCurrentVitalsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientCurrentVitals/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProblemDetail">
      <input message="tns:getProblemDetail" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProblemDetailRequest"/>
      <output message="tns:getProblemDetailResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProblemDetailResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProblemDetail/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProgressNote">
      <input message="tns:getProgressNote" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProgressNoteRequest"/>
      <output message="tns:getProgressNoteResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProgressNoteResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProgressNote/Fault/JMeadowsException"/>
    </operation>
    <operation name="getRadiologyReport">
      <input message="tns:getRadiologyReport" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getRadiologyReportRequest"/>
      <output message="tns:getRadiologyReportResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getRadiologyReportResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getRadiologyReport/Fault/JMeadowsException"/>
    </operation>
    <operation name="getVLERDocumentList">
      <input message="tns:getVLERDocumentList" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocumentListRequest"/>
      <output message="tns:getVLERDocumentListResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocumentListResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocumentList/Fault/JMeadowsException"/>
    </operation>
    <operation name="getVLERDocument">
      <input message="tns:getVLERDocument" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocumentRequest"/>
      <output message="tns:getVLERDocumentResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocumentResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVLERDocument/Fault/JMeadowsException"/>
    </operation>
    <operation name="getUserAlerts">
      <input message="tns:getUserAlerts" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getUserAlertsRequest"/>
      <output message="tns:getUserAlertsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getUserAlertsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getUserAlerts/Fault/JMeadowsException"/>
    </operation>
    <operation name="getVisitNotes">
      <input message="tns:getVisitNotes" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVisitNotesRequest"/>
      <output message="tns:getVisitNotesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVisitNotesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getVisitNotes/Fault/JMeadowsException"/>
    </operation>
    <operation name="logAudit">
      <input message="tns:logAudit" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/logAuditRequest"/>
      <output message="tns:logAuditResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/logAuditResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/logAudit/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderAppointments">
      <input message="tns:getProviderAppointments" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAppointmentsRequest"/>
      <output message="tns:getProviderAppointmentsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAppointmentsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAppointments/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderAdmissions">
      <input message="tns:getProviderAdmissions" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAdmissionsRequest"/>
      <output message="tns:getProviderAdmissionsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAdmissionsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderAdmissions/Fault/JMeadowsException"/>
    </operation>
    <operation name="getWardAdmissions">
      <input message="tns:getWardAdmissions" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getWardAdmissionsRequest"/>
      <output message="tns:getWardAdmissionsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getWardAdmissionsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getWardAdmissions/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderUnsignedNotes">
      <input message="tns:getProviderUnsignedNotes" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderUnsignedNotesRequest"/>
      <output message="tns:getProviderUnsignedNotesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderUnsignedNotesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderUnsignedNotes/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderConsultsRequested">
      <input message="tns:getProviderConsultsRequested" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsRequestedRequest"/>
      <output message="tns:getProviderConsultsRequestedResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsRequestedResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsRequested/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderConsultsReceived">
      <input message="tns:getProviderConsultsReceived" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsReceivedRequest"/>
      <output message="tns:getProviderConsultsReceivedResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsReceivedResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderConsultsReceived/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderOrdersPending">
      <input message="tns:getProviderOrdersPending" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersPendingRequest"/>
      <output message="tns:getProviderOrdersPendingResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersPendingResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersPending/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderOrdersResulted">
      <input message="tns:getProviderOrdersResulted" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersResultedRequest"/>
      <output message="tns:getProviderOrdersResultedResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersResultedResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderOrdersResulted/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderLabAbnormalResults">
      <input message="tns:getProviderLabAbnormalResults" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderLabAbnormalResultsRequest"/>
      <output message="tns:getProviderLabAbnormalResultsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderLabAbnormalResultsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderLabAbnormalResults/Fault/JMeadowsException"/>
    </operation>
    <operation name="getJanusGUIConfig">
      <input message="tns:getJanusGUIConfig" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getJanusGUIConfigRequest"/>
      <output message="tns:getJanusGUIConfigResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getJanusGUIConfigResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getJanusGUIConfig/Fault/JMeadowsException"/>
    </operation>
    <operation name="setJanusGUIConfig">
      <input message="tns:setJanusGUIConfig" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setJanusGUIConfigRequest"/>
      <output message="tns:setJanusGUIConfigResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setJanusGUIConfigResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setJanusGUIConfig/Fault/JMeadowsException"/>
    </operation>
    <operation name="getIehrUserProfile">
      <input message="tns:getIehrUserProfile" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getIehrUserProfileRequest"/>
      <output message="tns:getIehrUserProfileResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getIehrUserProfileResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getIehrUserProfile/Fault/JMeadowsException"/>
    </operation>
    <operation name="setIehrUserProfile">
      <input message="tns:setIehrUserProfile" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setIehrUserProfileRequest"/>
      <output message="tns:setIehrUserProfileResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setIehrUserProfileResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setIehrUserProfile/Fault/JMeadowsException"/>
    </operation>
    <operation name="getSites">
      <input message="tns:getSites" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getSitesRequest"/>
      <output message="tns:getSitesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getSitesResponse"/>
    </operation>
    <operation name="getLoginInfo">
      <input message="tns:getLoginInfo" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLoginInfoRequest"/>
      <output message="tns:getLoginInfoResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLoginInfoResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getLoginInfo/Fault/JMeadowsException"/>
    </operation>
    <operation name="getServiceErrors">
      <input message="tns:getServiceErrors" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getServiceErrorsRequest"/>
      <output message="tns:getServiceErrorsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getServiceErrorsResponse"/>
    </operation>
    <operation name="getAuthUser">
      <input message="tns:getAuthUser" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAuthUserRequest"/>
      <output message="tns:getAuthUserResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAuthUserResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getAuthUser/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientInsurances">
      <input message="tns:getPatientInsurances" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientInsurancesRequest"/>
      <output message="tns:getPatientInsurancesResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientInsurancesResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientInsurances/Fault/JMeadowsException"/>
    </operation>
    <operation name="getOutpatientProcedures">
      <input message="tns:getOutpatientProcedures" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOutpatientProceduresRequest"/>
      <output message="tns:getOutpatientProceduresResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOutpatientProceduresResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getOutpatientProcedures/Fault/JMeadowsException"/>
    </operation>
    <operation name="updateUserSubjectDN">
      <input message="tns:updateUserSubjectDN" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/updateUserSubjectDNRequest"/>
      <output message="tns:updateUserSubjectDNResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/updateUserSubjectDNResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/updateUserSubjectDN/Fault/JMeadowsException"/>
    </operation>
    <operation name="getPatientForms">
      <input message="tns:getPatientForms" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientFormsRequest"/>
      <output message="tns:getPatientFormsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientFormsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getPatientForms/Fault/JMeadowsException"/>
    </operation>
    <operation name="getProviderFlags">
      <input message="tns:getProviderFlags" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderFlagsRequest"/>
      <output message="tns:getProviderFlagsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderFlagsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/getProviderFlags/Fault/JMeadowsException"/>
    </operation>
    <operation name="setProviderFlags">
      <input message="tns:setProviderFlags" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setProviderFlagsRequest"/>
      <output message="tns:setProviderFlagsResponse" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setProviderFlagsResponse"/>
      <fault message="tns:JMeadowsException" name="JMeadowsException" wsam:Action="http://webservice.jmeadows.domain.ext/JMeadowsData/setProviderFlags/Fault/JMeadowsException"/>
    </operation>
  </portType>
  <binding name="JMeadowsDataPortBinding" type="tns:JMeadowsData">
    <wsp:PolicyReference URI="#JMeadowsDataPortBinding_MTOM_Policy-JMeadowsDataPortBinding_MTOM_Policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupPatient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupPatientPDWS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="selectPatient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="selectPatientMVI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientAdmissions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="selectPatientForVASensitive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="auditVARestrictedAccess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientHistory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientAllergies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllergyDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientEncountersReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientAppointments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientEncounters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientClinicalReminders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getClinicalReminderDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientDemographics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="loginEnterprise">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientDemographicsDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientImmunizations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientLabs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientLabResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientLabReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientMedications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientProgressNotes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBHIENoteImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientDischargeSummaries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientConsultRequests">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientOrders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientProblemList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientRads">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientVitals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientLabTestResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLabOrderResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAdmissionDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAdmissionDiagnosis">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAdmissionProcedures">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getConsultReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMedicationDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getOrderDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientCurrentVitals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProblemDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProgressNote">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRadiologyReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getVLERDocumentList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getVLERDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserAlerts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getVisitNotes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="logAudit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderAppointments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderAdmissions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWardAdmissions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderUnsignedNotes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderConsultsRequested">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderConsultsReceived">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderOrdersPending">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderOrdersResulted">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderLabAbnormalResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getJanusGUIConfig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="setJanusGUIConfig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getIehrUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="setIehrUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSites">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLoginInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceErrors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientInsurances">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getOutpatientProcedures">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUserSubjectDN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPatientForms">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProviderFlags">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
    <operation name="setProviderFlags">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="JMeadowsException">
        <soap:fault name="JMeadowsException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="JMeadowsDataService">
    <port binding="tns:JMeadowsDataPortBinding" name="JMeadowsDataPort">
      <soap:address location="http://10.2.100.100:80/jMeadows/JMeadowsDataService"/>
    </port>
  </service>
</definitions>