JAR/JMeadowsDataService-2.3.0.7/META-INF/wsdl/JMeadowsDataService_metadata2.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.vds.domain.ext/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.vds.domain.ext/" version="1.0">
  <xs:complexType name="patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:string"/>
      <xs:element minOccurs="0" name="ahltaUnitNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="dob" type="xs:string"/>
      <xs:element minOccurs="0" name="EDIPI" type="xs:string"/>
      <xs:element minOccurs="0" name="FMP" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="ICN" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="patientIens" nillable="true" type="tns:keyValuePair"/>
      <xs:element minOccurs="0" name="SSN" type="xs:string"/>
      <xs:element name="sensitive" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vistaSites" nillable="true" type="tns:site"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:anyType"/>
      <xs:element minOccurs="0" name="value" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="site">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string"/>
      <xs:element minOccurs="0" name="dmisId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" nillable="true" type="tns:endpoint"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="moniker" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:janusPermission"/>
      <xs:element minOccurs="0" name="region" type="tns:region"/>
      <xs:element minOccurs="0" name="siteCode" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endpoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessionPrefix" type="xs:string"/>
      <xs:element minOccurs="0" name="aeTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="environment" type="xs:string"/>
      <xs:element minOccurs="0" name="host" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="modality" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="port" type="xs:int"/>
      <xs:element minOccurs="0" name="protocol" type="xs:string"/>
      <xs:element minOccurs="0" name="siteCode" type="xs:string"/>
      <xs:element minOccurs="0" name="siteId" type="xs:int"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="janusPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patientDemographics">
    <xs:complexContent>
      <xs:extension base="tns:patient">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string"/>
          <xs:element minOccurs="0" name="address2" type="xs:string"/>
          <xs:element minOccurs="0" name="admissionDate" type="xs:string"/>
          <xs:element minOccurs="0" name="admissionId" type="xs:string"/>
          <xs:element minOccurs="0" name="cdrEventId" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element minOccurs="0" name="clinic" type="xs:string"/>
          <xs:element minOccurs="0" name="codeGreen" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ethnicity" nillable="true" type="tns:code"/>
          <xs:element minOccurs="0" name="labId" type="xs:string"/>
          <xs:element minOccurs="0" name="pcmDates" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="pcmPhone" type="xs:string"/>
          <xs:element minOccurs="0" name="percentServiceConnected" type="xs:string"/>
          <xs:element minOccurs="0" name="phone1" type="xs:string"/>
          <xs:element minOccurs="0" name="phone2" type="xs:string"/>
          <xs:element minOccurs="0" name="primaryProvider" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="race" nillable="true" type="tns:code"/>
          <xs:element minOccurs="0" name="rank" type="xs:string"/>
          <xs:element minOccurs="0" name="site" type="tns:site"/>
          <xs:element minOccurs="0" name="sourceProtocol" type="xs:string"/>
          <xs:element minOccurs="0" name="state" type="xs:string"/>
          <xs:element minOccurs="0" name="ward" type="xs:string"/>
          <xs:element minOccurs="0" name="wardId" type="xs:string"/>
          <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="code">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="display" type="xs:string"/>
      <xs:element minOccurs="0" name="narrative" type="xs:string"/>
      <xs:element minOccurs="0" name="ranking" type="xs:string"/>
      <xs:element minOccurs="0" name="system" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string"/>
      <xs:element minOccurs="0" name="bseToken" type="xs:string"/>
      <xs:element minOccurs="0" name="DOB" type="xs:string"/>
      <xs:element minOccurs="0" name="dmisId" type="xs:string"/>
      <xs:element minOccurs="0" name="dutyPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="encryptedAvCode" type="xs:string"/>
      <xs:element minOccurs="0" name="encryptedFederatedUid" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="hostSite" type="tns:site"/>
      <xs:element minOccurs="0" name="janusGUIConfig" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="janusPermissions" nillable="true" type="tns:janusPermission"/>
      <xs:element minOccurs="0" name="NPI" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="pager" type="xs:string"/>
      <xs:element minOccurs="0" name="providerClass" type="xs:string"/>
      <xs:element minOccurs="0" name="providerFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="providerIen" type="xs:string"/>
      <xs:element minOccurs="0" name="sigClass" type="xs:string"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="userIen" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="progressNote">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="amended" type="xs:string"/>
          <xs:element minOccurs="0" name="complexDataUrl" type="xs:string"/>
          <xs:element minOccurs="0" name="encounter" type="xs:string"/>
          <xs:element minOccurs="0" name="images" type="xs:string"/>
          <xs:element minOccurs="0" name="location" type="xs:string"/>
          <xs:element minOccurs="0" name="noteDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="noteId" type="xs:string"/>
          <xs:element minOccurs="0" name="noteText" type="xs:string"/>
          <xs:element minOccurs="0" name="noteTitle" type="xs:string"/>
          <xs:element minOccurs="0" name="noteTitleId" type="xs:string"/>
          <xs:element minOccurs="0" name="noteType" type="xs:string"/>
          <xs:element minOccurs="0" name="provider" type="tns:provider"/>
          <xs:element minOccurs="0" name="sensitive" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="userIen" type="xs:string"/>
          <xs:element minOccurs="0" name="visitDate" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dataBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdrEventId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="codes" nillable="true" type="tns:code"/>
      <xs:element minOccurs="0" name="patientId" type="xs:string"/>
      <xs:element minOccurs="0" name="patientName" type="xs:string"/>
      <xs:element minOccurs="0" name="site" type="tns:site"/>
      <xs:element minOccurs="0" name="sourceProtocol" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="classification" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="primary" type="xs:boolean"/>
      <xs:element minOccurs="0" name="providerType" type="xs:string"/>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
      <xs:element minOccurs="0" name="signatureBlock" type="xs:string"/>
      <xs:element minOccurs="0" name="specialization" type="xs:string"/>
      <xs:element minOccurs="0" name="taxonomyCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="allergyDetail">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="reportText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="vlerDocument">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="authorList" nillable="true" type="tns:author"/>
          <xs:element minOccurs="0" name="creationTime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="document" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="documentUniqueId" type="xs:string"/>
          <xs:element minOccurs="0" name="homeCommunityId" type="xs:string"/>
          <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="repositoryUniqueId" type="xs:string"/>
          <xs:element minOccurs="0" name="sourcePatientId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="author">
    <xs:sequence>
      <xs:element minOccurs="0" name="institution" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diagnosis">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="codeSystem" type="xs:string"/>
          <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="prescriptionFill">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="dispenseDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="dispensingPharmacy" type="xs:string"/>
          <xs:element minOccurs="0" name="dispensingQuantity" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deploymentForm">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="completeNote" type="xs:string"/>
          <xs:element minOccurs="0" name="custodianId" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredBy" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredByDate" type="xs:string"/>
          <xs:element minOccurs="0" name="facility" type="xs:string"/>
          <xs:element minOccurs="0" name="loincCode" type="xs:string"/>
          <xs:element minOccurs="0" name="noteFormat" type="xs:string"/>
          <xs:element minOccurs="0" name="noteId" type="xs:string"/>
          <xs:element minOccurs="0" name="noteTitle" type="xs:string"/>
          <xs:element minOccurs="0" name="noteTypeCode" type="xs:string"/>
          <xs:element minOccurs="0" name="noteTypeName" type="xs:string"/>
          <xs:element minOccurs="0" name="otherIdentifier" type="xs:string"/>
          <xs:element minOccurs="0" name="repositoryId" type="xs:string"/>
          <xs:element minOccurs="0" name="verifiedBy" type="xs:string"/>
          <xs:element minOccurs="0" name="verifiedDate" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="alert">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="alertId" type="xs:string"/>
          <xs:element minOccurs="0" name="messageText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="encounterDocument">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:string"/>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="localTitle" type="xs:string"/>
          <xs:element minOccurs="0" name="nationalTitle" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="allergy">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="allergyId" type="xs:string"/>
          <xs:element minOccurs="0" name="allergyName" type="xs:string"/>
          <xs:element minOccurs="0" name="comment" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="drugClasses" nillable="true" type="tns:code"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="drugIngredients" nillable="true" type="tns:code"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="reactions" nillable="true" type="tns:code"/>
          <xs:element minOccurs="0" name="severity" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clinicalReminder">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="dueDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="lastOccurrenceDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="immunization">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateTime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="encounterProvider" type="xs:string"/>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="orderingProvider" type="xs:string"/>
          <xs:element minOccurs="0" name="reaction" type="xs:string"/>
          <xs:element minOccurs="0" name="series" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="patientDemographicsDetail">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="report" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="patientAdmission">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="admissionDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="admissionId" type="xs:string"/>
          <xs:element minOccurs="0" name="admittingProvider" type="tns:provider"/>
          <xs:element minOccurs="0" name="admittingUserIen" type="xs:string"/>
          <xs:element minOccurs="0" name="codingCompleteDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="dischargeSummaryId" type="xs:string"/>
          <xs:element minOccurs="0" name="dispositionDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="division" type="xs:string"/>
          <xs:element minOccurs="0" name="drg" type="xs:string"/>
          <xs:element minOccurs="0" name="drgDescription" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="encounterDocuments" nillable="true" type="tns:encounterDocument"/>
          <xs:element minOccurs="0" name="provider" type="tns:provider"/>
          <xs:element minOccurs="0" name="reason" type="tns:code"/>
          <xs:element minOccurs="0" name="reasonNarrative" type="xs:string"/>
          <xs:element minOccurs="0" name="recordStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="registerNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="roomBed" type="xs:string"/>
          <xs:element minOccurs="0" name="specialty" type="xs:string"/>
          <xs:element minOccurs="0" name="userIen" type="xs:string"/>
          <xs:element minOccurs="0" name="visitId" type="xs:string"/>
          <xs:element minOccurs="0" name="ward" type="xs:string"/>
          <xs:element minOccurs="0" name="wardId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="admissionDetail">
    <xs:complexContent>
      <xs:extension base="tns:patientAdmission">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailText" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="diagnoses" nillable="true" type="tns:diagnosis"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="procedures" nillable="true" type="tns:procedure"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="procedure">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="codeSystem" type="xs:string"/>
          <xs:element minOccurs="0" name="comment" type="xs:string"/>
          <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="encounterId" type="xs:string"/>
          <xs:element minOccurs="0" name="encounterName" type="xs:string"/>
          <xs:element minOccurs="0" name="location" type="xs:string"/>
          <xs:element minOccurs="0" name="provider" type="tns:provider"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="medication">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:string"/>
          <xs:element minOccurs="0" name="comment" type="xs:string"/>
          <xs:element minOccurs="0" name="currentProvider" type="tns:provider"/>
          <xs:element minOccurs="0" name="daysSupply" type="xs:string"/>
          <xs:element minOccurs="0" name="drugName" type="xs:string"/>
          <xs:element minOccurs="0" name="fillOrderDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="lastDispensingPharmacy" type="xs:string"/>
          <xs:element minOccurs="0" name="medId" type="xs:string"/>
          <xs:element minOccurs="0" name="medType" type="xs:string"/>
          <xs:element minOccurs="0" name="orderIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="orderingProvider" type="tns:provider"/>
          <xs:element minOccurs="0" name="pharmacyId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="prescriptionFills" nillable="true" type="tns:prescriptionFill"/>
          <xs:element minOccurs="0" name="quantity" type="xs:string"/>
          <xs:element minOccurs="0" name="RXNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="refills" type="xs:string"/>
          <xs:element minOccurs="0" name="sigCode" type="xs:string"/>
          <xs:element minOccurs="0" name="stopDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="labOrder">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="accessionNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="availableDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="collectionDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="collectionSample" type="xs:string"/>
          <xs:element minOccurs="0" name="collectionSampleIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="comment" type="xs:string"/>
          <xs:element minOccurs="0" name="facilityName" type="xs:string"/>
          <xs:element minOccurs="0" name="internalId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="labResults" nillable="true" type="tns:labResult"/>
          <xs:element minOccurs="0" name="labTestIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="orderDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="orderId" type="xs:string"/>
          <xs:element minOccurs="0" name="requestingProvider" type="xs:string"/>
          <xs:element minOccurs="0" name="requestingProviderIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="stationNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="subscript" type="xs:string"/>
          <xs:element minOccurs="0" name="testName" type="xs:string"/>
          <xs:element minOccurs="0" name="urgency" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="labResult">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="accession" type="xs:string"/>
          <xs:element minOccurs="0" name="comment" type="xs:string"/>
          <xs:element minOccurs="0" name="facilityName" type="xs:string"/>
          <xs:element minOccurs="0" name="hiLoFlag" type="xs:string"/>
          <xs:element minOccurs="0" name="orderDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="orderId" type="xs:string"/>
          <xs:element minOccurs="0" name="printName" type="xs:string"/>
          <xs:element minOccurs="0" name="referenceRange" type="xs:string"/>
          <xs:element minOccurs="0" name="result" type="xs:string"/>
          <xs:element minOccurs="0" name="resultDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="resultStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="specimen" type="xs:string"/>
          <xs:element minOccurs="0" name="stationNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="testId" type="xs:string"/>
          <xs:element minOccurs="0" name="testName" type="xs:string"/>
          <xs:element minOccurs="0" name="testType" type="xs:string"/>
          <xs:element minOccurs="0" name="units" type="xs:string"/>
          <xs:element minOccurs="0" name="verifiedBy" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="referralBean">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="authorizationNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="clinic" type="xs:string"/>
          <xs:element minOccurs="0" name="fromDate" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="insuranceInfo" nillable="true" type="tns:insuranceBean"/>
          <xs:element minOccurs="0" name="patientICN" type="xs:string"/>
          <xs:element minOccurs="0" name="primaryCarePractitioner" type="xs:string"/>
          <xs:element minOccurs="0" name="primaryDiagnosis" type="xs:string"/>
          <xs:element minOccurs="0" name="remarks" type="xs:string"/>
          <xs:element minOccurs="0" name="requestedDate" type="xs:string"/>
          <xs:element minOccurs="0" name="requestingProvider" type="xs:string"/>
          <xs:element minOccurs="0" name="servicePercentage" type="xs:int"/>
          <xs:element minOccurs="0" name="serviceRequested" type="xs:string"/>
          <xs:element minOccurs="0" name="toDate" type="xs:string"/>
          <xs:element minOccurs="0" name="urgency" type="xs:string"/>
          <xs:element minOccurs="0" name="vendor" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insuranceBean">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="companyAddressLine1" type="xs:string"/>
          <xs:element minOccurs="0" name="companyAddressLine2" type="xs:string"/>
          <xs:element minOccurs="0" name="companyAddressLine3" type="xs:string"/>
          <xs:element minOccurs="0" name="companyCity" type="xs:string"/>
          <xs:element minOccurs="0" name="companyIen" type="xs:string"/>
          <xs:element minOccurs="0" name="companyName" type="xs:string"/>
          <xs:element minOccurs="0" name="companyPostalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="companyStateProvince" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="companyTelecom" nillable="true" type="tns:telecom"/>
          <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="groupNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="insuranceNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="insuranceType" type="xs:string"/>
          <xs:element minOccurs="0" name="insuranceTypeId" type="xs:string"/>
          <xs:element minOccurs="0" name="memberId" type="xs:string"/>
          <xs:element minOccurs="0" name="planName" type="xs:string"/>
          <xs:element minOccurs="0" name="policyHolder" type="xs:string"/>
          <xs:element minOccurs="0" name="relationShip" type="xs:string"/>
          <xs:element minOccurs="0" name="subscriberDOB" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="subscriberId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="telecom">
    <xs:sequence>
      <xs:element minOccurs="0" name="usageType" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patientAppointments">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="apptDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="apptId" type="xs:string"/>
          <xs:element minOccurs="0" name="apptType" type="xs:string"/>
          <xs:element minOccurs="0" name="clinic" type="xs:string"/>
          <xs:element minOccurs="0" name="clinicId" type="xs:string"/>
          <xs:element minOccurs="0" name="clinicStopCode" type="xs:string"/>
          <xs:element minOccurs="0" name="clinicStopName" type="xs:string"/>
          <xs:element minOccurs="0" name="creditStopCode" type="xs:string"/>
          <xs:element minOccurs="0" name="creditStopName" type="xs:string"/>
          <xs:element minOccurs="0" name="patientClass" type="xs:string"/>
          <xs:element minOccurs="0" name="provider" type="tns:provider"/>
          <xs:element minOccurs="0" name="providerClass" type="xs:string"/>
          <xs:element minOccurs="0" name="providerCode" type="xs:string"/>
          <xs:element minOccurs="0" name="providerPager" type="xs:string"/>
          <xs:element minOccurs="0" name="providerPhone" type="xs:string"/>
          <xs:element minOccurs="0" name="reason" type="xs:string"/>
          <xs:element minOccurs="0" name="service" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCategoryCode" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCategoryName" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="userIen" type="xs:string"/>
          <xs:element minOccurs="0" name="visitString" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="encounter">
    <xs:complexContent>
      <xs:extension base="tns:patientAppointments">
        <xs:sequence>
          <xs:element minOccurs="0" name="admittingProvider" type="tns:provider"/>
          <xs:element minOccurs="0" name="arrivalDateTime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="complexDataUrl" type="xs:string"/>
          <xs:element minOccurs="0" name="departureDateTime" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="diagnosis" nillable="true" type="tns:diagnosis"/>
          <xs:element minOccurs="0" name="dischargeDisposition" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="tns:encounterDocument"/>
          <xs:element minOccurs="0" name="encounterId" type="xs:string"/>
          <xs:element minOccurs="0" name="encounterNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredBy" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredByDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="evalManagementCode" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="procedures" nillable="true" type="tns:procedure"/>
          <xs:element minOccurs="0" name="reasonCode" type="xs:string"/>
          <xs:element minOccurs="0" name="reasonNarrative" type="xs:string"/>
          <xs:element minOccurs="0" name="roomBed" type="xs:string"/>
          <xs:element minOccurs="0" name="sensitive" type="xs:string"/>
          <xs:element minOccurs="0" name="specialty" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="vitals">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateTimeTaken" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="qualifiers" type="xs:string"/>
          <xs:element minOccurs="0" name="rate" type="xs:string"/>
          <xs:element minOccurs="0" name="units" type="xs:string"/>
          <xs:element minOccurs="0" name="unitsCode" type="xs:string"/>
          <xs:element minOccurs="0" name="vitalType" type="xs:string"/>
          <xs:element minOccurs="0" name="vitalsIEN" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="problemNote">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="noteDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="noteEnteredBy" type="xs:string"/>
          <xs:element minOccurs="0" name="noteText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="radiologyExam">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="accessionNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="examDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="examId" type="xs:string"/>
          <xs:element minOccurs="0" name="reasonForOrder" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="study" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="radiologyReport">
    <xs:complexContent>
      <xs:extension base="tns:radiologyExam">
        <xs:sequence>
          <xs:element minOccurs="0" name="approvedBy" type="xs:string"/>
          <xs:element minOccurs="0" name="caseNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="impressionText" type="xs:string"/>
          <xs:element minOccurs="0" name="interpretingHCP" type="xs:string"/>
          <xs:element minOccurs="0" name="priority" type="xs:string"/>
          <xs:element minOccurs="0" name="reportIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="reportStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="reportText" type="xs:string"/>
          <xs:element minOccurs="0" name="resultCode" type="xs:string"/>
          <xs:element minOccurs="0" name="severity" type="xs:string"/>
          <xs:element minOccurs="0" name="transcribeDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="completedDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="orderDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="orderDetail" type="xs:string"/>
          <xs:element minOccurs="0" name="orderResult" type="xs:string"/>
          <xs:element minOccurs="0" name="orderid" type="xs:string"/>
          <xs:element minOccurs="0" name="orderingProvider" type="tns:provider"/>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="type" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="consult">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="complexDataUrl" type="xs:string"/>
          <xs:element minOccurs="0" name="consultType" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="tns:encounterDocument"/>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="patientNextAppointment" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="procedureConsult" type="xs:string"/>
          <xs:element minOccurs="0" name="provider" type="tns:provider"/>
          <xs:element minOccurs="0" name="report" type="xs:string"/>
          <xs:element minOccurs="0" name="requestDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="service" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="questionnaireBean">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="comments" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredBy" type="tns:provider"/>
          <xs:element minOccurs="0" name="enteredDate" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="recordId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="responseComments" nillable="true" type="tns:questionnaireResponseComments"/>
          <xs:element minOccurs="0" name="responseDate" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="responses" nillable="true" type="tns:questionnaireDetails"/>
          <xs:element minOccurs="0" name="type" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="questionnaireResponseComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="dateEntered" type="xs:string"/>
      <xs:element minOccurs="0" name="enteredBy" type="tns:provider"/>
      <xs:element minOccurs="0" name="enteredDate" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="sequence" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionnaireDetails">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" nillable="true" type="tns:questionnaireDetailAnswers"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="choices" nillable="true" type="tns:questionnaireDetailChoices"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="comments" nillable="true" type="tns:questionnaireDetailComments"/>
      <xs:element minOccurs="0" name="question" type="xs:string"/>
      <xs:element minOccurs="0" name="sequence" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionnaireDetailAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" type="xs:string"/>
      <xs:element minOccurs="0" name="answerType" type="xs:string"/>
      <xs:element minOccurs="0" name="choice" type="xs:string"/>
      <xs:element minOccurs="0" name="correctAnswer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionnaireDetailChoices">
    <xs:sequence>
      <xs:element minOccurs="0" name="answerType" type="xs:string"/>
      <xs:element minOccurs="0" name="choice" type="xs:string"/>
      <xs:element minOccurs="0" name="choiceText" type="xs:string"/>
      <xs:element minOccurs="0" name="correctAnswer" type="xs:string"/>
      <xs:element minOccurs="0" name="isSeleced" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionnaireDetailComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="commentBy" type="xs:string"/>
      <xs:element minOccurs="0" name="dateEntered" type="xs:string"/>
      <xs:element minOccurs="0" name="noteNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="noteText" type="xs:string"/>
      <xs:element minOccurs="0" name="seqNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="problem">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="acuity" type="xs:string"/>
          <xs:element minOccurs="0" name="condition" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="hasComment" type="xs:string"/>
          <xs:element minOccurs="0" name="hospitalLocation" type="xs:string"/>
          <xs:element minOccurs="0" name="icdCode" type="xs:string"/>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="inactiveICDCode" type="xs:string"/>
          <xs:element minOccurs="0" name="lastModifiedDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="locationIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="locationType" type="xs:string"/>
          <xs:element minOccurs="0" name="onsetDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="priority" type="xs:string"/>
          <xs:element minOccurs="0" name="providerIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="recordedDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="responsibleProvider" type="xs:string"/>
          <xs:element minOccurs="0" name="scConditions" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceConnected" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceIEN" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceName" type="xs:string"/>
          <xs:element minOccurs="0" name="specialExposure" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="problemDetail">
    <xs:complexContent>
      <xs:extension base="tns:problem">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailText" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredBy" type="xs:string"/>
          <xs:element minOccurs="0" name="enteredDate" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="notes" nillable="true" type="tns:problemNote"/>
          <xs:element minOccurs="0" name="recordedBy" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="freeTextReport">
    <xs:complexContent>
      <xs:extension base="tns:dataBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="reportText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>